In [27]:
import pandas as pd
import numpy as np
from DataSelector import DataSelector
from os.path import join, isfile
from os import listdir

%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [42]:
txs_path = 'txs_2020-02-18_12-09-20-793ccc6c-fbbf-4c2b-8964-9eaa334181f8.csv'
rates_path ='rates_2020-02-21_20-03-39-d72c4972-f871-4cf5-927d-4c8e68883fe8.csv'
data_path = 'txs_rates_2020-02-21_20-09-32-5ddb757f-08cd-4424-beac-3c424c4bed44.csv'
ds = DataSelector(is_local=True)

In [40]:
ds.batch_save(df, 1000)

In [43]:
ds.save_batch_paths()

                 0
0      batch_0.csv
1      batch_1.csv
2     batch_10.csv
3    batch_100.csv
4    batch_101.csv
..             ...
995  batch_995.csv
996  batch_996.csv
997  batch_997.csv
998  batch_998.csv
999  batch_999.csv

[1000 rows x 1 columns]

In [49]:
pd.DataFrame(np.random.random((5,3))[[1,3]]).iloc[[0]]

          0        1         2
0  0.509701  0.83687  0.279037